<!doctype html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
    <div layout:fragment="content" class="container my-3">
        <h2>차량메뉴</h2>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="/car/register">차량등록</a>
            <a class="btn btn-primary" href="/car/Load">차량조회</a>
            <a class="btn btn-primary" href="/car/Mod">차량수정</a>
            <a class="btn btn-primary" href="/car/delete">차량삭제</a>
        </div>
    </div>
</html>