<!doctype html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
    <div layout:fragment="content" class="container my-3">
        <h2>차량 종류</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>차량 이름</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>K3</td>
                    </tr>
                    <tr>
                        <td>K5</td>
                    </tr>
                    <tr>
                        <td>K7</td>
                    </tr>
                    <tr>
                        <td>K9</td>
                    </tr>
                    <tr>
                        <td>AVANTE N</td>
                    </tr>
                    <tr>
                        <td>SONATA</td>
                    </tr>
                    <tr>
                        <td>SORENTO</td>
                    </tr>
                    <tr>
                        <td>PALISADE</td>
                    </tr>
                    <tr>
                        <td>SELTOS</td>
                    </tr>
                    <tr>
                        <td>CARNIVAL</td>
                    </tr>
                    <tr>
                        <td>GRANDEUR</td>
                    </tr>
                    <tr>
                        <td>G70</td>
                    </tr>
                    <tr>
                        <td>G80</td>
                    </tr>
                    <tr>
                        <td>G90</td>
                    </tr>
                    <tr>
                        <td>A5</td>
                    </tr>
                    <tr>
                        <td>A7</td>
                    </tr>
                    <tr>
                        <td>Taycan</td>
                    </tr>
                    <tr>
                        <td>718 Boxster</td>
                    </tr>
                    <tr>
                        <td>911 Turbo</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</html>
