<!doctype html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
    <div layout:fragment="content" class="container my-3">
        <h2>예약메뉴</h2>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="/res/register1">예약등록</a>
            <a class="btn btn-primary" href="/res/Load">예약조회</a>
            <a class="btn btn-primary" href="/res/Mod">예약수정</a>
            <a class="btn btn-primary" href="/res/delete">예약삭제</a>
        </div>
    </div>
</html>