<!doctype html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
    <div layout:fragment="content" class="container my-3">
        <h2>렌트카 시스템 버전 정보</h2>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">버전 1.0.0</h5>
                <p class="card-text">렌트카 관리 웹페이지</p>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>회원 등록, 조회, 수정, 삭제</td>
                        </tr>
                        <tr>
                            <td>차량 등록, 조회, 수정, 삭제</td>
                        </tr>
                        <tr>
                            <td>렌트카 예약 관리</td>
                        </tr>
                    </tbody>
                </table>
                <p class="card-text"><small class="text-muted">최종 업데이트: 2024년 6월 10일</small></p>
            </div>
        </div>

    </div>
</html>
